body {
    background-color: #89B8FF; /* Light blue background */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-image: url(imagenes/fondos.png); /* Add your background image */
    background-size: cover;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
}

.profile-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.volver-button {
    display: inline-block;
    width: 94%;
    padding: 10px;
    margin-top: 15px; /* Espacio superior para separarlo del botón de login */
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}